body{
    background-color: rgb(78, 19, 133);
}

#container{
    background-color:rgb(16, 16, 129);
    border: 5px solid;
    height: 650px;
    width: 800px;
    margin:auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p{
    color:antiquewhite;
    font-size: 24px;
}

#input{
    width: 100px;
    margin: 25px auto;
}

#btn{
    margin: 25px auto auto 5px;
    
}




